[merge]
	conflictstyle = diff3
[user]
	name = Sergei Dolgov
	email = dolgovs@gmail.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	unstage = reset HEAD --
	trash = !git add . && git commit -m 'trash' && git reset --hard HEAD^
	serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
	news = log -p HEAD@{1}..HEAD@{0}
[difftool]
	prompt = no
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = dolgovs@gmail.com
[push]
	default = simple
[core]
	quotepath = false
