$include  /etc/inputrc

set bell-style visible
set match-hidden-files off
set visible-stats on
set show-all-if-ambiguous on

"\M-s": menu-complete

"\e[A": ""
"\e[B": ""
"\e[C": ""
"\e[D": ""

"\C-p": history-search-backward
"\C-n": history-search-forward

"\C-^": "\C-p\C-a\M-f "

$if Bash
  Space: magic-space
$endif

"\e[1;5C": forward-word     # Ctrl+right  => forward word
"\e[1;5D": backward-word    # Ctrl+left   => backward word
