	UXTerm*font: terminus-14
        XTerm*faceName: monospace
	XTerm*faceSize: 8
!	XTerm*termName: xterm-color
	XTerm*termName: xterm
      XTerm*altSendsEscape: true
      XTerm*metaSendsEscape: true
      XTerm*altIsNotMeta: true
    XTerm*saveLines: 5000
   XTerm*background: black
   XTerm*foreground: white
    XTerm*scrollBar: off
	 URxvt.font: xft:monospace:size=8
     Rxvt*saveLines: 5000
    Rxvt*background: black
    Rxvt*foreground: white
     Rxvt*scrollBar: off
	 XLock.mode: space
   XLock.background: black
   XLock.foreground: white
	 XLock.font: terminus-14
	 emacs.font: monospace-8
      emacs.toolBar: 0
    xpdf*background: white
