UXTerm*faceName: monospace:pixelsize=12
UXTerm*termName: xterm-256color
XTerm*termName: xterm-256color
UXTerm*altSendsEscape: true
UXTerm*metaSendsEscape: true
UXTerm*altIsNotMeta: true
UXTerm*saveLines: 5000
UXTerm*background: black
UXTerm*foreground: white
UXTerm*fastScroll: true
UXTerm*highlightSelection: true
UXTerm*trimSelection: true
UXTerm*cutNewline: false
UXTerm*bellIsUrgent: true
UXTerm*utmpInhibit: true
UXTerm*on2Clicks: regex [^ \n]+

URxvt.perl-lib: /home/mebubo/src/urxvt-perls
URxvt.perl-ext-common : default,keyboard-select,url-select,clipboard

URxvt.keysym.M-Escape      : perl:keyboard-select:activate
URxvt.keysym.M-s           : perl:keyboard-select:search
URxvt.keysym.M-u           : perl:url-select:select_next
URxvt.keysym.M-c           : perl:clipboard:copy
URxvt.keysym.M-v           : perl:clipboard:paste
URxvt.keysym.M-C-v         : perl:clipboard:paste_escaped
URxvt.url-select.launcher  : google-chrome
URxvt.url-select.autocopy  : true
URxvt.url-select.underline : true
URxvt.clipboard.autocopy   : true

URxvt.font: xft:monospace:size=9
URxvt.letterSpace : -1
URxvt.iso14755    : false

URxvt.urgentOnBell: true
URxvt.visualBell: true

URxvt.saveLines   : 12000
URxvt.scrollBar   : false
URxvt.scrollstyle : rxvt

URxvt.background : black
URxvt.foreground : white

! blue
URxvt.color4  : #268BD2
URxvt.color12 : #6699FF

URxvt.cursorColor            : #00aa00

URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

XLock.mode: space
XLock.background: black
XLock.foreground: white
XLock.erasedelay: 0
XLock.font: terminus-14

!emacs.font: monospace:size=15
emacs.toolBar: 0

xpdf*background: white

! http://blog.ssokolow.com/archives/2011/05/01/modernizing-xterms-paste/
! {{{ Quick Reference
!
! Scrolling:
!   Scroll Wheel
!   Shift-PgUp/PgDn
!
! Copy/Paste:
!   Mouse-Select        : Copy to PRIMARY
!   Shift + Mouse-Select: Copy to CLIPBOARD
!
!   Middle-Click        : Paste from PRIMARY
!   Shift + Middle-Click: Paste from CLIPBOARD
!
!   Ctrl+Shift+V        : Paste from CLIPBOARD
!   Ctrl+Alt+Shift+V    : Paste from PRIMARY
!

*VT100.Translations: #override \
                    Shift <Key>Up:              scroll-back(1) \n\
                    Shift <Key>Down:            scroll-forw(1) \n\
                    ~Meta Shift Ctrl <Key>V:    insert-selection(CLIPBOARD) \n\
                     Meta Shift Ctrl <Key>V:    insert-selection(PRIMARY) \n\
                    ~Shift <Btn1Up>:            select-end(PRIMARY, CUT_BUFFER0) \n\
                     Shift <Btn1Up>:            select-end(CLIPBOARD, CUT_BUFFER1) \n\
                    ~Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(PRIMARY, CUT_BUFFER0) \n\
                     Shift ~Ctrl ~Meta <Btn2Up>:insert-selection(CLIPBOARD, CUT_BUFFER1)

