/*

Firefox:

~/.mozilla/firefox/$PROFILE/chrome/userContent.css

Chromium:

~/.config/chromium/Default/User\ StyleSheets/Custom.css

*/

/* GMail messages and textarea should use fixed-width font */
.gs .ii, textarea.Ak {
    font-family: monospace !important;
    font-size: 100% !important;
}

/* new GMail compose */
div[class*="LW-avf"] {
    font-family: monospace !important;
    font-size: 10pt !important;
}

/* Hide ad pane in GMail to maximize mail pane space */
table.Bs > tr > td + td {
    display: none;
}
