[Unit]
Description=WPA supplicant daemon (interface-specific version)
Requires=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device

[Service]
Type=simple
ExecStart=/sbin/wpa_supplicant -D nl80211 -c /etc/wpa_supplicant/wpa-roam.conf -i %I

[Install]
WantedBy=multi-user.target
